<div class="language-switcher">
    <button class="@GetButtonClass("es")" @onclick="SetSpanishAsync">ES</button>
    <span class="lang-sep">|</span>
    <button class="@GetButtonClass("en")" @onclick="SetEnglishAsync">EN</button>
</div>
