<div class="row row-cols-1 row-cols-md-@Columns g-4">
    @for (int i = 0; i < Count; i++)
    {
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <div class="skeleton-block mb-2" style="height:1rem;width:65%"></div>
                    <div class="skeleton-block mb-2" style="height:.8rem;width:45%"></div>
                    <div class="skeleton-block" style="height:.8rem;width:30%"></div>
                </div>
                <div class="card-footer">
                    <div class="skeleton-block" style="height:1.8rem;width:4.5rem"></div>
                </div>
            </div>
        </div>
    }
</div>
