@inject NavigationManager Nav
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            <div @key="Nav.Uri" class="page-content">
                @Body
            </div>
        </article>
    </main>
</div>

<ToastContainer />
